<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.game.zxyz">
    <!--todo: DexEncrypt.3.update application name-->
    <application android:name="com.game.zxyz.ROXY"
        android:allowBackup="false"
        android:fullBackupContent="false"
        tools:replace="android:allowBackup"/>
</manifest>